<form action="/favourite" method="POST">
  <button
    class="bg-yellow-500 rounded-lg text-white font-bold py-1 px-4 hover:bg-yellow-600 cursor-pointer transition duration-300 shadow-md hover:shadow-lg">
    Add to Favourite
  </button>
  <input type="hidden" name="id" value="<%= home._id %>" />
</form>